<h1>Top#index</h1>
<p>Name:

<input type="text" name="name" ng-model="user.name" required ng-minlength="5" ng-maxlength="10">
<br>
<span ng-show="myForm.name.$error.required">Required!</span>
<span ng-show="myForm.name.$error.minlength">Warning!! Too Short!</span>
<span ng-show="myForm.name.$error.maxlength">Warning!! Too Long!</span>
<br>
</p>


<p>Region of Japan:<select ng-model="user.region" ng-options="region for region in regions" ></select></p>

<p>Prefecture of Japan:<select ng-model="user.prefecture" ng-options="prefecture for prefecture in prefectures" ></select></p>

<%= link_to 'りんく', about_path %>
<!--
<pre>{{user | json }}</pre> -->